In [7]:
movies = [
    {"title": "Inception", "ratings": [5, 4, 5, 4, 5]},
    {"title": "Interstellar", "ratings": [5, 5, 4, 5, 4]},
    {"title": "Dunkirk", "ratings": [4, 4, 4, 3, 4]},
    {"title": "The Dark Knight", "ratings": [5, 5, 5, 5, 5]},
    {"title": "Memento", "ratings": [4, 5, 4, 5, 4]},
]

In [12]:
new = [movie["title"] for movie in movies]
new

a=[]
for movie in movies:
    a.append(movie["title"])
a

['Inception', 'Interstellar', 'Dunkirk', 'The Dark Knight', 'Memento']

In [14]:
average_rating = [sum(movie["ratings"]) / len((movie["ratings"])) for movie in movies]
print(average_rating)

#{movies["title"]:sum(movies["ratings"]/len(movies["ratings"]))}

[4.6, 4.6, 3.8, 5.0, 4.4]

In [ ]:
# adding average rating to the dictionary

new_list=[{**existing,"average":sum(existing["ratings"]) / len((existing["ratings"]))}for existing in movies]
new_list

[{'title': 'Inception', 'ratings': [5, 4, 5, 4, 5], 'average': 4.6},
 {'title': 'Interstellar', 'ratings': [5, 5, 4, 5, 4], 'average': 4.6},
 {'title': 'Dunkirk', 'ratings': [4, 4, 4, 3, 4], 'average': 3.8},
 {'title': 'The Dark Knight', 'ratings': [5, 5, 5, 5, 5], 'average': 5.0},
 {'title': 'Memento', 'ratings': [4, 5, 4, 5, 4], 'average': 4.4}]

In [22]:

high_rated= [movie['title'] for movie in new_list if movie['average']>=4.6]

high_rated

['Inception', 'Interstellar', 'The Dark Knight']

In [30]:
# Task
# Creating the below dictionary with for loop

#{"1": 1, "2": 4, "3": 9, "4": 16, "5": 25}
dict={}

for i in range(1,6):
    dict[i]=i*i
dict

num ={str(a):a*a for a in range(1,25) if a%2==0}
num

{'2': 4,
 '4': 16,
 '6': 36,
 '8': 64,
 '10': 100,
 '12': 144,
 '14': 196,
 '16': 256,
 '18': 324,
 '20': 400,
 '22': 484,
 '24': 576}

In [32]:
# Task 1.1

# Expected Output:
# {1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}
num = {a: "odd" if a % 2 != 0 else "even" for a in range(1, 11)}

num

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even'}

In [34]:
### Task 1.2: Filtering Fruits by Price

#Given a dictionary of fruits with their prices, filter it to include only fruits priced above 2.

fruits = {'apple': 1.2, 'banana': 2.5, 'orange': 3.0, 'kiwi': 4.0}

#high_rated = [fruit["title"] for fruit in fruits if fruit["price"] >= 2]

high_rated = [fruit for fruit, price in fruits.items() if price >= 2]
print(high_rated)

['banana', 'orange', 'kiwi']

In [43]:
for key, val in fruits.items():
    print(key,fruits[key])

#output=[fruit: fruits[fruit] for fruit in fruits if fruits[fruit]>=2]
output = {fruit: fruits[fruit] for fruit in fruits if fruits[fruit] >= 2}

print(output)

apple 1.2
banana 2.5
orange 3.0
kiwi 4.0
{'banana': 2.5, 'orange': 3.0, 'kiwi': 4.0}

In [ ]:
### Task 1.3: Employee ID to Name Mapping

#Given a list of employee dictionaries, create a dictionary mapping each employee's ID to their name.

employees = [
    {"id": 101, "name": "Alice", "age": 30},
    {"id": 102, "name": "Bob", "age": 25},
    {"id": 103, "name": "Charlie", "age": 35}
]

employee_dict = {employee["id"]: employee["name"] for employee in employees}
print(employee_dict)

filtr_employee=[employee["id"]: employee["age"] for employee in employees if "age"]